.nameplate {
  height: 256px;
  padding-bottom: 1.5em;
  display: grid;
  grid-template-columns: 256px 1fr;
  column-gap: 1.5rem;
}

.pictureContainer {
  display: grid;
  place-content: center;
  overflow: hidden;
}

.picture {
  display: block;
  max-width: 100%;
  border-radius: 16px;
}

.pictureFallback {
  display: block;
  max-width: 100%;
  border-radius: 16px;
  filter: grayscale(100%);
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  filter: grayscale(100%);
}

.names {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.displayName {
  font-size: 3rem;
  font-family: sans-serif;
}

.name {
  color: #666;
}

.propContainer {
  display: grid;
  height: 1.5rem;
  grid-template-columns: 1rem 1fr;
  column-gap: 4px;
}

.propIcon {
  max-width: 100%;
  display: grid;
}

.propIcon svg {
  place-self: center;
}

.npub {
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}


